openai==0.27.8
# transformers
# tiktoken==0.3.0 ## require python>=3.8
# tensorflow==2.10 ## python>=3.8 only support tf2.10+ without tf1.15
# torch
tensorflow
# mpi4py==3.1.4
pandas
scipy
matplotlib
seaborn
protobuf
rich
